/* Below are the general styles- linking different fonts to their elements */

body,
ul,
h1,
h2,
h3,
p,
button {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
}

body, 
button {
    font-family: "Noto Sans", sans-serif;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

li {
    font-size: 1.3rem;
}


/* Specific styles for the different sections*/


/* Black Menu */

.blackmenu {
    padding-right: 8rem;
    background-color: black;
    color: lightgray;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.blackmenu .menuitem {
    display: flex;
    align-items: center;
    margin-left: 2rem; 
}

.blackmenu .menuitem img {
    width: 2rem;
    margin-right: 1rem;
}

/* White Menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7rem;
    padding-left: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6;
}

/* Logo */


.menu .logo {
    width: 15rem;
}


/* 5 menu items  */

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 1rem;

}





/* Two icons on the right */
.menu .icons {
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.menu .icons .single_icon {
    display: flex;
    align-items: center;
}

.menu_icon {
    width: 2rem;
}

.menu .icon .single_icon .p {
    padding-left: 1rem;
    font-size: 1.7rem;
}

/* The main drop down menu */