/* Below are the general styles- linking different fonts to their elements */

body,
ul,
h1,
h2,
h3,
p,
button {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
}

body, 
button {
    font-family: "Noto Sans", sans-serif;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

li {
    font-size: 1.3rem;
}


/* Specific styles for the different sections*/


/* Black Menu */

.blackmenu {
    padding-right: 8rem;
    background-color: black;
    color: lightgray;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.blackmenu .menuitem {
    display: flex;
    align-items: center;
    margin-left: 2rem; 
}

.blackmenu .menuitem img {
    width: 2rem;
    margin-right: 1rem;
}

/* White Menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7rem;
    padding-left: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6;
}

/* Logo */


.menu .logo {
    width: 15rem;
}


/* 5 menu items  */

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 1rem;

}





/* Two icons on the right */
.menu .icons {
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.menu .icons .single_icon {
    display: flex;
    align-items: center;
}

.menu_icon {
    width: 2rem;
}

.menu .icon .single_icon .p {
    padding-left: 1rem;
    font-size: 1.7rem;
}

/* The main drop down menu */



/* Header styles below */

.header {
    border-bottom: 1px solid #e6e6e6;
    padding: 0rem;
    padding-bottom: 4rem;
}

.header .banner {
    width: 100%;
}

.header .learnmore {
    background-color: white;
    border: 1px solid rgb(17,17,17);
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    width: 170px;
    display: block;
    margin: auto;
}

.learnmore:hover {
    background-color: red;
    color: white;
    border: none;
}

/* General styles for all sections */

.whats_new,
.mate40,
.newsandevent,
.penultimate {
    padding: 1rem;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* What's new styles below */

.whats_new {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.whats_new .heading {
    text-align: center;
    font-weight: 800;
}

.heading_underline {
    text-align: center;
    padding-bottom: 4rem;
    color: darkred;
}

.rowone,
.rowtwo,
.rowthree {
    display: flex;
    justify-content: center;
}

.rowone img,
.rowtwo img,
.rowthree img {
    display: flex;
    position: relative;
    width: calc((100% / 3) - 0%);
    margin: 1%;
}

.rowone .watch, 
.rowtwo .laptop {
    width: 70%;
}

/* mate40 styles below */


.mate40 .banner {
    width: 100%;
}

/* News and events styles below */

.newsandevents {
    padding-bottom: 7rem;
    padding-top: 4rem;
}

.newsandevents .heading {
    text-align: center;
}

.newsandevents .heading_underline {
    color: darkred;
    text-align: center;
    padding-bottom: 3rem;
}

.newsandevents .allevents {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

/* News and Events, - Single Event Box */

.eventbox {
    background-color: #f8f8f8;
    width: calc((100% / 3) - 3%);
    margin: 1%;
    cursor: pointer;
    line-height: 22.8571px;
    padding-bottom: 30px;
}
.boxtag {
    background-color: #979797;
    color: white;
    font-size: 1.6rem;
    margin: 0rem;
    padding: 0.5rem;
    width: 8rem;
    text-align: center;
    position: relative;
    margin-bottom: -3.2rem;
}

.eventimage {
    width: 100%;
}

.eventname {
    margin-left: 2rem;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 800;
}

.location_date {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    padding-top: 1rem;
} 

.eventbox .location,
.eventbox .date {
    display: flex;
}

.locationicon,
.calendaricon {
    width: 2rem;
    margin-right: 0.5rem;
}

.location_text,
.date_text {
    color: #666666;
}

/* News and events - News Box */

.manyposts {
    height: 37rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: auto;
}

.tagnews {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.newspost {
    margin-bottom: 1rem;
}

.newstitle {
    font-size: 1.5rem;
}

.newsdate {
    color: #666666;
    font-size: 1.3rem;
}

/* News and Events Two Buttons  */

.newsandevents_buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.newsandevents .moreinfo {
    background-color: white;
    border: 1px solid rgb(17, 17, 17);
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    width: 170px;
}